<div class="row py-3 w-75 p-3">
  <div class="col-3 order-2" id="sticky-sidebar">
    <div class="sticky-top">
      {{#each notes as |note|}}
      <div class="noteTitle">
        <a href="#" type="submit" id="{{note.id}}">{{note.title}}</a>
      </div>
      {{/each}}
    </div>
  </div>