<div class="row py-3 w-75 p-3">
  <div class="col-3 order-2" id="sticky-sidebar">
    {{#if notes.length}}
    <div class="col-md-6 project-list">

      {{#each notes as |note|}}

      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/note/{{note.id}}">{{note.title}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{note.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>