<div class="col" id="main">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Note Title">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Text Body</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Enter Note Text"></textarea>
    </div>
    <button id="save">Save</button>
</div>≈