<div class="col" id="main">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email
        ">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">password</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Enter Password">
    </div>
    <button id="save">Sign In</button>
</div>