body {

    background-color: lawngreen;
}

.noteTitle {
position: relative;

}

#noteText {
    width: 700px;;
}

.col {
    width:700px;
}

#loginPart {
 display: flex; 
   
   justify-content: flex-start;
   margin-right: 600px;


}

#signUpPart {
 display: flex;
justify-content: flex-end;
margin-left: 800px;

}

#signUpLoginDiv {
  display:flex;
  
   flex-direction: row;
   justify-content: center;

}

#mainBody {
      display:flex;
  
   flex-direction: row;
   justify-content: flex-end;
}

#main {
     
  
}

#noteDisplay {
    display:flex;
    flex-direction: column;
    justify-content: center;
}